{% extends "principal.html" %}

{%block cabecera %}
<h1> Tareas </h1>

{% endblock %}

{%block contenido%}
   
    {%for tarea in tareas_mostrar%}
    
        {%include 'tareas/tarea.html'%}
       
        <h2>Asignados:</h2>
            <ul>
                {%for usuario in tarea.usuario.all%}
                    {% include 'tareas/usuarios.html' %}
                {%endfor%}
            </ul>
        <h2>Comentarios: </h2>
        <ul>
            {% if tarea.comentario.all|length < 3 and tarea.usuario.all|length > 2 %}

                <p>Tarea poco comentada</p>

            {% endif %}

            {%for comentario in tarea.comentario.all%}

            <li><p>{{comentario.contenido}}</p></li>
            {%endfor%}
        </ul>

        {%empty%}
        <p>No hay nada que mostrar</p>

    {%endfor linebreaksbr%}

{% endblock %}
