{% extends "principal.html" %}

{%block contenido%}
   
{%for tarea in tareas_mostrar%}
    
        {%include 'tareas/tarea.html'%}

        <h2>Asignados:</h2>
            <ul>
                {%for usuario in tarea.usuario.all%}
                    {% include 'tareas/usuarios.html' %}
                {%endfor%}
            </ul>
        <h2>Comentarios: </h2>
        <ul>
            {%for comentario in tarea.comentario.all%}
            <li><p>{{comentario.contenido}}</p></li>
            {%endfor%}
        </ul>
   
    {%endfor linebreaksbr%}

{% endblock %}
