<html>
    <head></head>
    <body>
    <h1>Tareas del proyecto: {{proyecto.nombre}}</h1>
    
    {%for tarea in tareas_mostrar%}
    
    <div>
  
        <h2>Ttitulo: {{tarea.titulo}}</h2>
        <h2>Descripcion:</h2>
        <p>{{tarea.descripcion}}</p>
        <h2>Prioridad: {{tarea.prioridad}}</h2>
        <h2>Estado: {{tarea.estado}}</h2>
        <h2>Completada: {{tarea.completada}}</h2>
        <h2>Creacion: {{tarea.fecha_creacion}}</h2>
        <h2>Vencimiento: {{tarea.fecha_vencimiento}}</h2>
        <h2>Creador:{{tarea.creador.nombre}}</h2>
        <h2>Asignados:</h2>
            <ul>
                {%for usuario in tarea.usuario.all%}
                <li>Nombre: {{usuario.nombre}}. Correo: {{usuario.correo}}</li>
                {%endfor%}
            </ul>
    </div>
    {%endfor linebreaksbr%}
    </body>

</html>