<div>
    <h2>Nombre: {{proyecto.nombre}}</h2>
    <h2>Descripcion:</h2>
    <p>{{proyecto.descripcion|truncatewords:15}}</p>

    <h2>Duracion estimada: {{proyecto.duracion_estimada}}</h2>
    <h2>Fecha inicio: {{proyecto.fecha_inicio}}</h2>
    <h2>Finalizacion: {{proyecto.fecha_finalizacion}}</h2>
    <h2>Administrador: {{proyecto.administrador.nombre}}</h2>
    <h2>Colabroadores:</h2>

    <ul>
        {% if proyecto.colaboradores.all|length == 1 %}
        
            <p>Proyecto poco apoyado</p>
        
        {% elif proyecto.colaboradores.all|length > 2 %}
        
            <p>Proyecto muy apoyado</p>
        
        {% endif %}

        {%for colaborador in proyecto.colaboradores.all%}
           
            {%include 'proyectos/colaboradores.html'%}

            
        
        {% endfor |linebreaksbr %}
   
    </ul>

</div>