<html>
    <head></head>
    <body>
    <h1>Indice de enlaces</h1>

    <ul>
        <li><a href="{% url 'listar_proyectos'%}">Listar proyectos</a></li>
        <li><a href="{% url 'tareas_proyecto' 1%}">Tareas del primer proyecto</a></li>
        <li><a href="{% url 'tarea_usuarios' 5%}">Usuarios de la tarea 5</a></li>
        <li><a href="{% url 'tareas_observacion' "BlablablablablaBlablablablabla"%}">Tareas con en la observacion</a></li>
        <li><a href="{% url 'ultimo_comentario' 11%}">Ultimo comentario de la tarea 11</a></li>
        <li><a></a></li>
        <li><a></a></li>
    </ul>

    </body>

</html>