<html>
    <head></head>
    <body>
    <h1>Indice de enlaces</h1>

    <ul>
        <li><a href="{% url 'listar_proyectos'%}">Listar proyectos</a></li>
        <li><a href="{% url 'tareas_proyecto' 1%}">Tareas del primer proyecto</a></li>
        <li><a href="{% url 'tarea_usuarios' 5%}">Usuarios de la tarea 5</a></li>
        <li><a href="{% url 'tareas_completadas' 1980 1990%}">Tareas completadas entre 1980-1990</a></li>
        <li><a href="{% url 'tareas_observacion' "blablablabla"%}">Tareas con un texto en la observacion</a></li>
        <li><a href="{% url 'ultimo_comentario' 11%}">Ultimo comentario de la tarea 11</a></li>
        <li><a href="{% url 'comentario_palabra_anyo' "Drive" 2024%}">Comentario comienza con palabra Drive en 2424</a></li>
        <li><a></a></li>
        <li><a></a></li>
    </ul>

    </body>

</html>